<div id="chat-container">
  <div id="close-btn">
    <a class="btn-flat waves-effect" (click)="closeMessage()">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div id="chat-stream">
    <message *ngFor="let message of messages"
      [message]="message.message"
      [user]="message.user">
    </message>
  </div>
  <div id="msg-box">
    <form
      #chatForm="ngForm"
      (ngSubmit)="sendMessage()">
      <div id="msg-input">
        <input
          type="text"
          name="message"
          required
          [(ngModel)]="newMessage">
      </div>
      <button
        id="send-btn"
        class="btn waves-effect"
        type="submit"
        name="action"
        [disabled]="!chatForm.form.valid">
          <i class="material-icons">send</i>
      </button>
    </form>
  </div>
</div>
