<div class="container">
  <div class="row hang-down">
    <div class="col s1 m2"></div>
    <div class="col s10 m8">
      <div class="card">
        <div class="card-content">
          <h4>WebSweeper</h4>
        </div>
        <div materialize class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab">
              <a class="active" (click)="resetSignUp()">Sign in</a>
            </li>
            <li class="tab"><a class="active" (click)="inSignIn=false">Sign up</a></li>
          </ul>
        </div>
        <div class="card-content">
          <div *ngIf="inSignIn">
            <form #signInForm="ngForm" (ngSubmit)="signIn()">
              <div class="row">
                <div class="input-field col s12">
                  <input id="user" type="text" class="validate" name="user" required [(ngModel)]="user">
                  <label for="user">Username</label>
                </div>
                <div class="input-field col s12">
                  <input id="pass" type="password" class="validate" name="pass" required [(ngModel)]="pass">
                  <label for="pass">Password</label>
                </div>
              </div>
              <div class="row center">
                <button type="submit" class="waves-effect waves-light btn" [disabled]="!signInForm.form.valid">Sign In</button>
              </div>
            </form>
          </div>
          <div *ngIf="!inSignIn">
            <form #signUpForm="ngForm" (ngSubmit)="signUp()" *ngIf="!isSignedUp">
              <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" name="username" required [(ngModel)]="signUpUser">
                  <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" name="email" required [(ngModel)]="signUpEmail">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="password" required [(ngModel)]="signUpPassword">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row center">
                <button type="submit" class="waves-effect waves-light btn" [disabled]="!signUpForm.form.valid">Sign Up</button>
              </div>
            </form>
            <div class="center" *ngIf="isSignedUp">
              <div><i class="material-icons large">mail_outline</i></div>
              <p>You have been signed up.</p>
              <p>A verification email has been sent to {{email}}</p>
              <p>Please check your email to activate your account.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s1 m2"></div>
  </div>
</div>
