.btn {
  background-color: rgb(238, 110, 115);
}

.hang-down {
  transform: translateY(10vh);
}

.center {
  text-align: center;
}

.card-content {
  background-color: rgb(47, 49, 54);
  color: white;
}

.tabs {
  background-color: rgb(54, 57, 62);
  color: white;
}

label.active {
  color: rgb(238, 110, 115) !important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-bottom-color: rgb(238, 110, 115) !important;
  box-shadow: 0 1px 0 0 rgb(246, 178, 181) !important;
}

.card-tabs .tab {
  cursor: pointer;
}