<img id="avatar" src="{{avatar}}" (click)="toggleProfile()">
<div id="user-card-container" [hidden]="!isProfileOpen">
  <div id="close-btn">
    <a class="btn-flat waves-effect" (click)="toggleProfile()">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div id="profile-container">
    <div>
      <form #updateAvatarForm="ngForm">
        <div class="file-field input-field">
          <div class="btn">
            <span>Select avatar</span>
            <input #avatarUpload id="avatar-upload" type="file" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" required>
          </div>
        </div>
        <button class="waves-effect btn" (click)="uploadAvatar()" [disabled]="!updateAvatarForm.form.valid">Upload</button>
      </form>
    </div>
  </div>
</div>
