<div class="container">
  <div id="top-nav" class="row">
    <a
      class="waves-effect waves-light btn-flat btn-left"
      (click)="backToLobby()">
      <i class="material-icons top-nav-btn">arrow_back</i>
    </a>
    <a
      class="waves-effect waves-light btn-flat btn-right"
      (click)="toggleChat()">
      <i class="material-icons top-nav-btn">message</i>
      <span class="counter">{{missedMessages}}</span>
    </a>
  </div>

  <div id="game-container">
    <minesweeper
      *ngIf="type===GAME_TYPES.MINESWEEPER"
      [id]="id">
    </minesweeper>
    <shooter
      *ngIf="type===GAME_TYPES.SHOOTER"
      [height]="shooterConfig.height"
      [width]="shooterConfig.width"
      ></shooter>
  </div>

  <chat
    #cht
    [id]="id"
    (onClose)="closeChat()"
    (onNewMessage)="addMissedMessage($event)"
    [hidden]="!chatOpen">
  </chat>
</div>
