
<div class="container">
  <div class="col s2">
    <a
      class="waves-effect waves-light btn-flat"
      (click)="toggleChat()">
      <i class="material-icons top-nav-btn">message</i>
      <span class="counter">{{missedMessages}}</span>
    </a>
  </div>
  <minesweeper
    *ngIf="type===GAME_TYPES.MINESWEEPER"
    [id]="id">
  </minesweeper>
  <!--<shooter></shooter>-->

  <chat
    #cht
    [id]="id"
    (onClose)="closeChat()"
    (onNewMessage)="addMissedMessage($event)"
    [hidden]="!chatOpen">
  </chat>
</div>