<div id="top-nav" class="row">
  <div class="col s2"></div>
  <div class="col s8 center">
    <a
      id="play-btn"
      class="waves-effect waves-light btn-large"
      *ngIf="!creatingGame"
      (click)="createGame()">
      PLAY!
    </a>
    <a
      class="waves-effect waves-light btn-flat"
      *ngIf="creatingGame"
      (click)="exitCreateGame()">
      <i class="material-icons top-nav-btn larger">keyboard_arrow_left</i>
    </a>
  </div>
</div>

<div class="container">
  <div id="lobby-container" *ngIf="isLobby">
    <div class="lobby-entry" *ngFor="let entry of rooms">
      <div class="row">
        <div class="col s1"></div>
        <div class="col s9">
          {{entry.username}}
          <br>
          <div class="create-time">Last active: {{entry.updatedAt}}</div>
        </div>
        <div class="col s2">
          <a id="{{entry.id}}" class="waves-effect waves-light btn-flat spectate-btn" (click)="spectateGame($event)">
            <i class="material-icons">remove_red_eye</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="create-game-container" [hidden]="!creatingGame">
    <form #createGameForm="ngForm" (ngSubmit)="createMinesweeper()">
      <div class="row">
        <div class="input-field col s12">
          <input id="row" type="number" name="row" required [(ngModel)]="minesweeper.rows">
          <label for="row">Number of rows</label>
        </div>
        <div class="input-field col s12">
          <input id="col" type="number" name="col" required [(ngModel)]="minesweeper.columns">
          <label for="col">Number of columns</label>
        </div>
        <div class="input-field col s12">
          <input id="mines" type="number" name="mines" required [(ngModel)]="minesweeper.mines">
          <label for="mines">Number of mines</label>
        </div>
      </div>
      <div class="row center">
        <button type="submit" class="waves-effect waves-light btn" [disabled]="!createGameForm.form.valid">Create game</button>
      </div>
    </form>
  </div>
</div>
