<div id="top-nav" class="row center">
  <a
    id="play-btn"
    class="waves-effect waves-light btn-large"
    *ngIf="!creatingGame"
    (click)="createGame()">
    PLAY!
  </a>
  <a
    class="waves-effect waves-light btn-flat btn-left"
    *ngIf="creatingGame"
    (click)="exitCreateGame()">
    <i id="back-btn" class="material-icons top-nav-btn">arrow_back</i>
  </a>
  <a
    class="waves-effect waves-light btn-flat btn-left"
    *ngIf="!creatingGame"
    (click)="logout()">
    <i id="logout-btn" class="material-icons top-nav-btn">exit_to_app</i>
  </a>
  <user-card></user-card>
</div>

<div class="container">
  <div id="lobby-container" [hidden]="creatingGame">
    <div class="lobby-entry" *ngFor="let entry of rooms">
      <div class="row">
        <div class="col s1"></div>
        <div class="col s9">
          {{entry.username}}
          <br>
          <div class="create-time">Last active: {{entry.updatedAt}}</div>
        </div>
        <div class="col s2">
          <a
            [routerLink]="['/games', entry.id]"
            class="waves-effect waves-light btn-flat spectate-btn">
            <i class="material-icons">remove_red_eye</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card" [hidden]="!creatingGame">
    <div class="card-content">
      <div class="row">
        <div class="col s4">
          Select a game:
        </div>
        <div class="col s4">
          <input name="game-select" type="radio" id="minesweeper" (change)="onSelectionChange('minesweeper')" />
          <label for="minesweeper">Minesweeper</label>
        </div>
        <div class="col s4">
          <input name="game-select" type="radio" id="shooter" (change)="onSelectionChange('shooter')" />
          <label for="shooter">Shooter</label>
        </div>
      </div>
      <div id="minesweeper-tab" [hidden]="selection != 'minesweeper'">
        <form #minesweeperForm="ngForm" (ngSubmit)="createMinesweeper()">
          <div class="row">
            <div class="input-field col s12">
              <input
                id="row"
                type="number"
                name="row"
                required
                [(ngModel)]="minesweeper.rows">
              <label for="row">Number of rows</label>
            </div>
            <div class="input-field col s12">
              <input
                id="col"
                type="number"
                name="col"
                [(ngModel)]="minesweeper.columns"
                required>
              <label for="col">Number of columns</label>
            </div>
            <div class="input-field col s12">
              <input
                id="mines"
                type="number"
                name="mines"
                [(ngModel)]="minesweeper.mines"
                required>
              <label for="mines">Number of mines</label>
            </div>
          </div>
          <div class="row center">
            <button
              type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!minesweeperForm.form.valid">
              Create game</button>
          </div>
        </form>
      </div>
      <div id="shooter-tab" [hidden]="selection != 'shooter'">
        <form #shooterForm="ngForm" (ngSubmit)="createShooter()">
          <div class="row">
            <div class="input-field col s12">
              <input
                id="difficulty"
                type="number"
                min="0"
                max="10"
                name="difficulty"
                [(ngModel)]="shooter.difficulty"
                required>
              <label for="difficulty">Difficulty</label>
            </div>
             Difficulty: (0 = CASUAL LUL, 10 = Normal)
          </div>
          <div class="row center">
            <button
              type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!shooterForm.form.valid">
              Create game
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
