<div id="chat-container">
  <div id="chat-stream">
    <div class="msg">
      <strong>You Watanabe: </strong> Onegai! Cinderella
    </div>
    <div class="msg">
      <strong>You Watanabe: </strong> Yume wa yume de owarenai
    </div>
  </div>
  <div id="msg-box">
    <div id="msg-input">
      <input type="text" name="msg" value="123">
    </div>
    <button id="send-btn" class="btn waves-effect" type="submit" name="action">
      <i class="material-icons">send</i>
    </button>
  </div>
</div>
