.btn {
  background-color: rgb(238, 110, 115);
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 34, 37);
}

.background-glyph {
  position: fixed;
  width: 100%;
  height: 100vh;
  transform: translateY(140px);
  opacity: 0.1;
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: bottom;
  /* Credit: https://pixabay.com/en/retro-perspective-grid-tron-synth-1548260/ */
  background-image: url("/assets/background.png");
}

.hang-down {
  transform: translateY(10vh);
}

.center {
  text-align: center;
}

.card-content {
  background-color: rgb(47, 49, 54);
  color: white;
}

.tabs {
  background-color: rgb(54, 57, 62);
  color: white;
}

label.active {
  color: rgb(238, 110, 115) !important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-bottom-color: rgb(238, 110, 115) !important;
  box-shadow: 0 1px 0 0 rgb(246, 178, 181) !important;
}
