<div id="minesweeper-container">
  <div *ngFor="let row of board" (contextmenu)="disableContextMenu($event)">
    <a id="{{cell.x}}-{{cell.y}}"
       class="btn-flat {{!isSpectating && cell.status == 0 ? 'waves-effect' : ''}} {{cell.status == 1 ? 'revealed' : ''}}"
       [ngClass]="getCellClasses()"
       *ngFor="let cell of row"
       (click)="click($event, 0)"
       (contextmenu)="click($event, 1)">
      <i class="material-icons {{cell.status == 2 ? 'flagged' : ''}}">{{cell.display}}</i>
    </a>
  </div>
  <div class="message" *ngIf="revealCount >= row * col - mines">
    Congratulation, you win!
  </div>
  <div class="message" *ngIf="!(revealCount >= row * col - mines) && (gameStatus == 1)">
    You hit a bomb. No worries, you can still play.
  </div>
</div>
