.btn-flat {
  padding: 0 9px;
  background-color: #DDD;
  margin: 1px 1px;
  z-index: 0;
}

.btn-flat > i {
  color: white;
  font-style: normal;
  font-size: 18px !important;
}

.btn-flat.revealed {
  background-color: #666;
}

.btn-flat.failed {
  background-color: rgb(238, 110, 115);
}

.btn-flat.winned {
  background-color: #9CCC65;
}

.flagged {
  color: red !important;
}

#minesweeper-container {
  text-align: center;
}

.message {
  color: white;
  margin-top: 1rem;
}