
<div id="minesweeper-container">
  <div
    *ngFor="let row of getBoard(); let i = index"
    (contextmenu)="disableContextMenu($event)">
    <a
      *ngFor="let cell of row; let j = index"
      class="btn-flat"
      [class.wave-effect]="active && cell.status == 0"
      [class.revealed]="cell.status==1"
      [class.failed]="hasLoss()"
      [class.winned]="hasWon()"
      (click)="_reveal(i, j)"
      (contextmenu)="_flag(i, j)">
      <i
        class="material-icons"
        [class.flagged]="cell.status==2">
        {{cell.display}}
      </i>
    </a>
  </div>
</div>